
* {
    margin: 0;
    padding: 0;
    /* cursor: none; Hide the default cursor */
}

body{
    background-color: palevioletred;/*#2A3335; */
}




canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEF9F2;
    border-radius: 0.2rem;
    z-index: -1;    
}

.cursor {
    position: absolute;
    width: 5px; /* Size of the custom cursor */
    height: 5px;
    border: 2px solid #FEF9F2;
    border-radius: 50%; /* Make it circular */
    background-color: #2A3335 ; /* Color of the cursor */
    pointer-events: none; /* Prevent the cursor from interfering with clicks */
    z-index: 10; /* Ensure the cursor is above other elements */
}

.togler{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 3%;
    transform: translate(-50%,0);
    flex-direction: column;
}

#eraserButton{
    height: 3rem;
    width: 3rem;
    /* font-family:cursive;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    border-radius: 10px; */
    background-color: coral;
    border-radius: 50%;
    /* filter: hue-rotate(90deg); */
}
#eraserButton > img{
    height: 25px;
    width: 25px;
    
}
#cursorSizer{
    position: absolute;
    top: 72%;
    left: 40%;
    cursor: pointer;
    transform: rotate(-90deg);
}

.clearButton{
    position: absolute;
    cursor: pointer;
    top: 22%;
    left: 3%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: coral;
}
.clearButton > img{
    height: 30px;
    width: 30px;
}
#downloadFeature{
    position: absolute;
    top: 35%;
    left: 1%;
    width:fit-content;
    font-family: cursive;
    color: coral;
    cursor: pointer;
}

#formatSelect{
    background-color: coral;
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    font-family: cursive;
    height: 2rem;
    width: 3.5rem;
    font-size: small;
    /* transform: rotate(-90deg); */
}

#downloadButton{
    position: absolute;
    top: 45%;
    left: 160%;
    transform: translate(-50%, -50%);
    font-family: cursive;
    cursor: pointer;
    background-color: coral;
    /* color: coral; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid black outset;
    /* box-shadow: 0px 0px 10px #FEF9F2; */
}

#downloadButton > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}